In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("pandas_practice.ipynb")

# Pandas Practice

**Name**: (Please add your name here)

This assignment is worth a total of 50 points and is composed of two subsections:

1. Part 1 is titled "WEO Data". In this section there are 23 small questions. Each of these is worth 1 point, for a total of 23 points.
2. Part 2 is titled "Unemployment Data". Here there are two main questions, labeled "Question 1" and "Question 2". Each of these questions will be worth 13 points.

Adding these number up gives you 49 points. We will award 1 bonus point for completing the assignment, bringing the total to 50 points.

Please be aware that many of the questions below will involve writing code. Please make sure: (1) your code executes (2) it performs the requested operations and (3) is clearly written and readable.

In [ ]:
import os

import pandas as pd

## WEO Data

The DataFrame `weo` contains GDP per person in thousands of US dollars, 2008 to 2014 for three countries. This is the variable `PPPPC` in the IMF's *World Economic Outlook* database.

In [ ]:
data = {'BRA': [13.37, 13.30, 14.34, 15.07, 15.46, 15.98, 16.10],
        'JPN': [33.43, 31.83, 33.71, 34.29, 35.60, 36.79, 37.39],
        'USA': [48.30, 46.91, 48.31, 49.72, 51.41, 52.94, 54.60],
        'Year': [2008, 2009, 2010, 2011, 2012, 2013, 2014]}
weo  = pd.DataFrame(data)

<!-- BEGIN QUESTION -->

**Question 1.1**

Explain the `import` statement.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.2**

What type of object is `data`?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.3**

Why does the last line have `pd` prior to the `DataFrame` function?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.4**

What type of object is `weo`?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.5**

How many rows does it have? Columns?

Save this answer to two variables `nrows` and `ncols`

In [ ]:
nrows = ...
ncols = ...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.6**

What `dtypes` are the variables/columns? What does this mean?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.7**

*Challenging.* What are each of these expressions? What is the resultant type?

```python
weo['Year']
weo[['Year']]
weo[[3]]
```

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.8**

Find and apply a method to convert `weo[’Year’]` to type `float`. Save this as a new column `Year_float`.

In [ ]:
...

In [ ]:
grader.check("q1.8")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.9**

Describe the result of the statement `t = weo.tail(3)`. What kind of object is `t`? What does it look like?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.10**

How would you create a new dataframe that consists of the first 4 rows of `weo`? Save this as a new dataframe called `weo_small`.

In [ ]:
weo_small = ...

In [ ]:
grader.check("q1.10")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.11**

What type of object is `weo[’BRA’]`?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.12**

Create a new variable equal to the ratio of Brazil's GDP per capita to Japan's. Call this column `brazil_to_japan_gdp`.

In [ ]:
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.13**

Use the `drop()` method to eliminate the `brazil_to_japan_gdp` and `Year_float` variables from the dataframe.

In [ ]:
weo = ...

In [ ]:
grader.check("q1.13")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.14**

What are `weo`'s row and column labels?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.15**

Set the index equal to the `Year` variable.

In [ ]:
grader.check("q1.15")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.16**

Change the names of the other variables to Brazil, Japan, and United States.

In [ ]:
grader.check("q1.16")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.17**

Export the dataframe to an Excel spreadsheet called `weo.xlsx`.

In [ ]:
grader.check("q1.17")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.18**

What method would you use to compute the mean for each country? Save the means in a new Series called `country_means`?

In [ ]:
country_means = ...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.19**

How would you compute means across countries for each year? Save the year means in a new Series called `year_means`?

In [ ]:
year_means = ...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.20**

Plot the data by applying a `plot` method to `weo`.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.21**

Change the colors of the lines to green (Brazil), red (Japan), and blue (US).

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.22**

Do the same plot with a log scale on the y-axis. *Hint:* Read the documentation for the plot method.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.23**

Plot Brazil on its own.

<!-- END QUESTION -->

## Unemployment Data

The following two quesitons wil luse the state unemployment dataset

In [ ]:
url = "https://datascience.quantecon.org/assets/data/state_unemployment.csv"
unemp_raw = pd.read_csv(url, parse_dates=["Date"])

# don't worry about this code yet... We'll learn about pivot tables soon!
unemp_all = (
    unemp_raw
    .reset_index()
    .pivot_table(index="Date", columns="state", values="UnemploymentRate")
)

states = [
    "Arizona", "California", "Florida", "Illinois",
    "Michigan", "New York", "Texas"
]
unemp = unemp_all[states]
unemp.head()

## Question 2.1

<!-- BEGIN QUESTION -->

**Question 2.1.a**

Print the `unemp` DataFrame's index

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.1.b**

Print the `unemp` DataFrame's columns

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.1.c**

Use indexing to select the data for all columns starting in June 2007 and ending in December 2010. Save this data into a new DataFrame called `unemp_gr`.

In [ ]:
unemp_gr = ...

In [ ]:
grader.check("q2.1.c")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.1.d**

Plot the data from `unemp_gr`.

<!-- END QUESTION -->

## Question 2.2

<!-- BEGIN QUESTION -->

**Question 2.2.a**

Using `unemp_gr` from the previous section, create a new DataFrame that has the month-by-month difference in the unemployment rate. Save this DataFrame as `unemp_gr_diff`.

In [ ]:
unemp_gr_diff = ...

In [ ]:
grader.check("q2.2.a")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.2.b**

Now compute the cumulative sum of the differences and save this as a DataFrame called `unemp_gr_cdiff`. This will tell us the total difference of the unemployment from June 2007.

In [ ]:
unemp_gr_cdiff = ...

In [ ]:
grader.check("q2.2.b")

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.2.c**

Plot the `unemp_gr_cdiff` DataFrame as a bar plot for one state.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.2.d**

Which state saw the biggest increase in their unemployment rate during this time period? Save this state as variable `biggest_increase_unemp`

In [ ]:
biggest_increase_unemp = ...

In [ ]:
grader.check("q2.2.d")

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)